<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Le professionnel du dépannage informatique en Essone.">
	
	<title>Urgence PC 91 - Index</title>

	<link rel="shortcut icon" href="../../static/images/gt_favicon.png">
	
	<link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="../../static/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../static/css/font-awesome.min.css">

	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="../../static/css/bootstrap-theme.css" media="screen" >
	<link rel="stylesheet" href="../../static/css/main.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="../../static/js/html5shiv.js"></script>
	<script src="../../static/js/respond.min.js"></script>
	<![endif]-->
</head>

<body class="home">
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="/"><img src="../../static/images/logo.svg" alt="Progressus HTML5 template"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li class="active"><a href="/">Accueil</a></li>
					<li><a href="/about">Prestations</a></li>
					<li><a href="/blog">Blog</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Liens utiles<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="https://github.com">Github</a></li>
							<li><a href="https://www.duckduckgo.com">DuckDuckGo</a></li>
							<li><a href="https://httpss://openai.com">OpenAI</a></li>
							<li><a href="https://getbootstratp.com">Bootstrap</a></li>
						</ul>
					</li>
					<li><a class="btn" href="/formulaire">Formulaire</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div> 
	<!-- /.navbar -->

	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="/">Accueil</a></li>
			<li class="active">Prestations</li>
		</ol>

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-sm-8 maincontent">
				<header class="page-header">
					<h1 class="page-title">Nos prestations</h1>
				</header>
				<h3>Récupération de données</h3>
				<p><img src="../../static/images/mac.jpg" alt="" class="img-rounded pull-right" width="300" ><p>Notre service de récupération de données informatiques est conçu pour aider les clients à récupérer les données importantes qui ont été perdues en raison de diverses raisons telles que la corruption du disque dur, les erreurs de système, les pannes matérielles ou logicielles, les attaques de virus, les erreurs de formatage, etc.</p>
				<p>Nous sommes équipés des outils les plus avancés et des techniques les plus récentes pour récupérer les données perdues ou endommagées à partir de n'importe quel type de périphérique de stockage de données, y compris les disques durs, les clés USB, les cartes mémoire, les serveurs, les systèmes RAID, etc. Nous sommes engagés à fournir à nos clients des solutions de récupération de données rapides et fiables pour minimiser les pertes de données et restaurer rapidement les données importantes.</p>
				<h3>Dépannage réseau</h3>
				<p>Nous proposons une prestation complète de dépannage réseau pour aider les clients à résoudre les problèmes de connectivité, les pannes réseau, les interruptions de service, les problèmes de sécurité et les erreurs de configuration. Notre équipe de techniciens qualifiés possède une expérience approfondie dans la gestion de réseaux de toutes tailles et de toutes complexités, et est en mesure d'identifier et de résoudre rapidement tout problème lié au réseau, que ce soit au niveau matériel ou logiciel. Nous sommes équipés des outils les plus récents pour diagnostiquer et résoudre les problèmes de réseau, et nous travaillons en étroite collaboration avec nos clients pour garantir une résolution rapide et efficace des problèmes. Nous sommes engagés à fournir des solutions de dépannage réseau sur mesure pour répondre aux besoins spécifiques de chaque client et pour maintenir un réseau stable et sécurisé.</p>
				<h3>Cours informatiques</h3>
				<p>Nous proposons une prestation de cours informatique complète pour aider les clients à débuter en informatique et à tirer le meilleur parti de leur équipement informatique. Cette prestation comprend des formations sur les logiciels couramment utilisés, tels que les suites bureautiques, les programmes de gestion de projet, etc. Nous offrons également des cours particuliers à des lycéens et des collégiens pour les aider à acquérir les compétences en informatique nécessaires pour réussir dans leur parcours académique. Nous sommes engagés à fournir des cours personnalisés pour répondre aux besoins individuels de chaque client, afin de garantir qu'ils puissent atteindre leurs objectifs d'apprentissage de manière efficace et efficiente.</p>
				<h3>Détéction et neutralisation de malware</h3>
				<p>La sécurité informatique est un enjeu majeur pour toutes les entreprises, car les attaques de logiciels malveillants (malware) peuvent entraîner des pertes financières et la perte de données importantes. C'est pourquoi notre entreprise propose des services de détection et de neutralisation de malware pour garantir la sécurité des systèmes informatiques de nos clients. Nous utilisons des outils sophistiqués pour identifier les menaces et nous avons une équipe d'experts en sécurité informatique qui peut rapidement répondre et neutraliser les virus détectés. Nous offrons également des conseils en matière de sécurité pour aider nos clients à prévenir les futures attaques de malware. Avec nos services de détection et de neutralisation de malware, nos clients peuvent être assurés que leur entreprise est protégée contre les menaces de sécurité informatique.</p>
				<h3>Initiation au développement web</h3>
				<p>Nous sommes également en mesure d'enseigner les concepts de base du développement web à un public novice. Vos cours sont conçus pour aider les apprenants à acquérir des compétences pratiques dans la création de sites web à partir de zéro. Vous pouvez couvrir une variété de sujets tels que l'HTML, le CSS, le JavaScript, le responsive design, la gestion de contenu et l'hébergement de sites web à l'aide du célèbre framework Django. Nous vous apprendrons comment créer des pages web, modifier les styles, ajouter des images, des vidéos et des formulaires, ainsi que des fonctionnalités interactives. Grâce à nos cours, les apprenants peuvent acquérir les connaissances nécessaires pour créer leurs propres sites web.</p>
				<h3>Tarifs</h3>
				<ul class="tableau">
					<table>
					  <tr>
						<th>Récupération de données</th>
						<th>Dépannage réseau/matériel</th>
						<th>Cours informatique</th>
					  </tr>
					  <tr>
						<td>Prix estimé, 30€ - 50€/h</td>
						<td>Prix estimé, 30€ - 50€/h</td>
						<td>Prix estimé, 40€ - 60€/h</td>
					  </tr>
					  <tr>
						<th>Nettoyage ordinateur</th>
						<th>Création site vitrine</th>
						<th>Suspicion de malware (virus)</th>
					  </tr>
					  <tr>
						<td>Prix estimé, 30€ - 50€/h</td>
						<td>Prix estimé, 90€ - 150€/h</td>
						<td>Prix estimé, 35€ - 65€/h</td>
					  </tr>
					</table>
					  <h1 style="font-size: 12px; font-style: italic;">*Estimation des prix exhaustive et calculée sans les frais de déplacements</h1>
				</ul>

			</aside>
			<!-- /Sidebar -->

		</div>
	</div>	<!-- /container -->
	

	
		<div class="footer2">
			<div class="container">
				<div class="row">
					
					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav">
								<a href="/">Accueil</a> | 
								<a href="/about">Prestations</a> |
								<a href="/blog">Blog</a> |
								<b><a href="/formulaire">Formulaire</a></b>
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right">
								Copyright &copy; 2023, propiété de Urgence PC 91. 
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>
	</footer>	
		




	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="../../static/js/headroom.min.js"></script>
	<script src="../../static/js/jQuery.headroom.min.js"></script>
	<script src="../../static/js/template.js"></script>
</body>
</html>