{% extends 'base.html' %}

{% block title %}
<title>Accueil du blog</title>
{% endblock %}

{% block content %}
<p style="height: 5px;"></p>
<h1 style="font-size: 40px;">Le blog de Urgence PC 91</h1>
{% for post in blog %}
<article>

    <div class="post-title">
        <h2>{{ post.title }}</h2>


    </div>


    <!-- Gère l'affichage de l'image -->

    {% if post.thumbnail %}
    <img src="{{ post.thumbnail.url }}" alt="L'image de l'article" class="post-image">
    {% endif %}
    <!-- Gère l'affichage de l'image -->

    <p class="post-excerpt">{{ post.content|safe|truncatewords:40 }}</p>

    <h5 class="post-author">Publié par <i>{{ post.author_or_default }}</i> le {{ post.created_on|date:'j F Y' }}</h5>


    <form action="{% url 'blog:post' slug=post.slug %}">

        <button class="btn btn-submit">Lire l'article</button>
    </form>


    {% if request.user.is_authenticated %}
    <div>
        <a href="{% url 'blog:edit' slug=post.slug %}" class="btn-edit">Éditer</a>
        <a href="{% url 'blog:delete' slug=post.slug %}" class="btn-delete">Supprimer</a>
    </div>
    {% endif %}
    <p style="height: 60px;"></p>

</article>
{% endfor %}

{% endblock %}
