{% extends 'base.html' %}

{% block title %}
  <title>{{ post.title }}</title>
{% endblock %}

{% block content %}
  <article class="post-detail">
  <h1>{{ post.title }}</h1>
<!-- Ajouter la boucle if / endif pour ne pas avoir d'erreur sur les articles sans images. -->
    {% if post.thumbnail %}
  <img src="{{ post.thumbnail.url }}" alt="L'image de l'article" class="image-article">
    {% endif %}
<!-- Balise <p> utilisée pour sauter une ligne -->
  <p style="height: 20px;"></p>
  <div>{{ post.content|linebreaks|safe }}</div>
  <h5 class="post-author">Publié par <i>{{ post.author_or_default }}</i> le {{ post.created_on|date:'j F Y' }}</h5>
  </article>

{% endblock %}
