@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@import "main.css";
/* Ajout main.css*/


body {
    font-family: 'Raleway', sans-serif;
    background-color: #F7F5F4;
    height: 100%;
    margin: 0;
    padding: 0;
}


.widget-body {

  display: flex;
  justify-content: center;
  align-items: center;

}

nav {
    background-color: rgba(0, 0, 0, 0.90);
    position: fixed;
    height: 90px;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav > a {
    margin-right: 2rem;
    margin-left: 2rem;
    color: steelblue;
}

.logo img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

  /* Appliquer la classe .headroom */
nav .headroom {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

  /* Appliquer la classe .slideUp */
nav .slideUp {
    top: -100px;
}



#blog  {
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

#blog article  {

    min-width: 600px;
    max-width: 800px;
    margin-top: 2rem;
    margin-bottom: 1rem;

}

@media (max-width: 1024px)
#blog article  {
    width: 85%;

}

.post-image {
  display: block;
  margin: 0 auto;
  max-width: 20%;
  height: auto;
}

.image-article {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.post-title {

    font-size: 18px;
    display: flex;
    align-items: center;

}

.post-title a {
    color: steelblue;
    text-decoration: none;
    margin-left: .5rem;
}

.post-title a:last-child {
    color: red;

}

.post-title > div {
    margin-left: auto;
}

.post-author {
    position: relative;
    margin: .5rem 0;
    left: 0;
}

.post-excerpt {
    margin-bottom: 1rem;
}

.post-detail {
    display: flex;
    flex-direction: column;

}

.post-detail > h1 {
    font-size: 30px;
    margin-bottom: 2.5rem;
}

input, textarea {
    display: block;
    padding: .75rem;
    line-height: 1.5;
    font-size: 1rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    min-width: 600px;
}

label {
    display: inline-block;
    box-sizing: border-box;
    margin: 1rem 0;
}

.btn {

    padding: .4rem;
    border: none;
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: .3rem;
    color: white;
    width: 300px;
    margin-top: .5rem;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.btn-submit {
    background-color: steelblue;
}

.btn-delete {
  text-decoration: none;
  color: red;
  font-weight: bold;
}

.btn-edit {
  text-decoration: none;
  color: steelblue;
  font-weight: bold;
}

.btn-accueil {
  text-decoration: none;
  color: steelblue;
  font-weight: bold;
}

.formulaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.réponse {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.post-title {
    text-align: center;
}

.bandeau-noir {
    background-color: black;
    color: white;
    text-align: center;
    position: relative;
    left: 0;
    right: 0;
    padding: 7px;
    font-size: 12px;
}






